body {
    background-color: lightblue;
  }
  h1{
    color:navy;
    margin-left: 20px;
  }

  }
  .Bonanza{
    width: 200px;
  } <!--code voor binarybonanza link ahcter het plaatje-->
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1100ff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;<!--code voor ul-->
  }
  p {
    width: 65%; <!--csscode voor hoever de tekst naar de zijkant van het beeld kan-->
  }